{% extends 'layout.twig' %}
{% block body %}
<a href="/products">create new product</a>
    <table border="1">
      <thead>
        <th>Label</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>User</th>
        <th>Show</th>
        <th>Delete</th>
      </thead>

      <tbody>
        {% for item in allProducts %}
        <tr>
          <td>{{ item.label }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.user }}</td>
          <td><a href="/products/{{ item._id }}">show</a></td>
          <td><a href="/products/delete/{{ item._id }}">delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


   <form action="" method="POST">
                <label for="product_label">Post Title</label>
                <input type="text" name="label" placeholder="Enter product label" id="product_label" required>
                <label for="product_price">Write your post</label>
                <textarea name="price" id="product_price" placeholder="Write something..." required></textarea>
                <label for="author_name">Author Name</label>
                <input type="text" name="author" placeholder="Enter author name" id="author_name" required>
                <input type="submit" value="POST">
            </form>


  <form action="" method="POST">
    <label for="product_label">Label</label> <br/>
    <input type="text" id="product_label" name="product_label" required><br/>

    <label for="product_price">Price</label> <br/>
    <input type="text" id="product_price" name="price" required><br/>

    <label for="product_quantity">quantity</label> <br/>
    <input type="text" id="product_quantity" name="quantity" required><br/>

    <label for="user">user</label> <br/>
    <input type="text" id="product_user" name="user" required><br/>

    <label for="image">image</label> <br/>
    <input type="file" id="product_image" name="image" required><br/>

    <input type="submit" value="add product" >
  </form>
{% endblock %}