{% extends 'layout.twig' %}
{% block body %}
<a href="/products">create new product</a>
    <table border="1">
      <thead>
        <th>Label</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>User</th>
        <th>Show</th>
        <th>Delete</th>
      </thead>

      <tbody>
        {% for item in allProducts %}
        <tr>
          <td>{{ item.label }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.user }}</td>
          <td><a href="/products/{{ item._id }}">show</a></td>
          <td><a href="/products/delete/{{ item._id }}">delete</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}